.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: purple;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;

}

.sidenav .closebtn {
    position: absolute;
    padding: 6px 8px 6px 16px;
    font-size: 2rem;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: purple;
    color: white;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color: #444;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 2rem;
    color: white;
    display: block;
    transition: 0.3s;
}


.sidenav a:hover {
    color: #f1f1f1;
}


@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
        width:10%;
    }
    .sidenav a {
        font-size: 1rem;}
}

.circleKey{
    height: 2rem;
    width: 2rem;
    border-radius: 50%;

}


.sideBar {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: #eee;
    overflow-x: hidden;
    height: 100%;
    width: 0;
    padding-top: 60px;
    transition: 0.5s;
}

.sideBar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #2196F3;
    display: block;
}

.sideBar a:hover {
    color: #064579;
}

@media screen and (max-height: 450px) {
    .sideBar {padding-top: 15px;}
    .sideBar a {font-size: 18px;}
}

.weightNav {
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    height: 90%;
    top: 0;
    bottom:0;
    background-color: #DDA8FF;
    overflow-x: scroll;
    overflow-y: visible;
    padding-top: 60px;
    transition: 0.5s;
}

.weightNav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 2rem;
    display: block;
    color: white;
    transition: 0.3s;
}

.weightNav a:hover {
    color: #f1f1f1;
}


.weightNav .closebtn {
    position: absolute;
    /*top: 0;*/
    /*right: 25px;*/
    padding: 6px 8px 6px 16px;
    font-size: 2rem;
    /*margin-left: 50px;*/
}

/*.openbtn {*/
    /*font-size: 20px;*/
    /*cursor: pointer;*/
    /*background-color: purple;*/
    /*color: white;*/
    /*padding: 10px 15px;*/
    /*border: none;*/
/*}*/

.openbtn:hover {
    background-color: #444;
}

.closebtn{
    background-color: purple;
    color:white;
}

.closebtn:hover{
    background-color: mediumpurple;
}


@media screen and (max-height: 450px) {
    .weightNav {
        padding-top: 15px;
        width:10%;
    }
    .weightNav a {
        font-size: 1rem;}
}

