 /*The container */
.radioContainer {
    display: block;
    position: relative;
    padding-left: 4rem;
    margin-bottom: 2rem;
    cursor: pointer;
    font-size: 2rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: left;
    font-weight: normal;
}


 /*//Hide the browser's default radio button */
.radioContainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 8%;
    left: 0;
    height: 3rem;
    width: 3rem;
    background-color: #DDA8FF;
    border-radius: 50%;
}

 /*On mouse-over, add a grey background color */
.radioContainer:hover input ~ .checkmark {
    background-color: #F61067;
}

/* When the radio button is checked, add a blue background */
.radioContainer input:checked ~ .checkmark {
    background-color: #8B178B;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.radioContainer input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.radioContainer .checkmark:after {
    top: 1rem;
    left: 1rem;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background: white;
}

.radiostyle{
    width:50%;
    padding: 2rem 2rem;
    position: relative;
    left: 20%;
    height:inherit;
    box-sizing: border-box;
    border: #B132E8;
    border-radius: 5rem;
    background-color: floralwhite;
    font-size: 2rem;
    color: black;
    resize: none;

}

.WHOstyle{
    width:50%;
    position: relative;
    left: 20%;
    height:inherit;
    box-sizing: border-box;
    border: #B132E8;
    border-radius: 5rem;
    background-color: floralwhite;
    font-size: 2rem;
    color: black;
    resize: none;
    padding: 2rem 2rem;
    text-align: left;
}

 .weightStyle{
     width:50%;
     position: relative;
     left: 20%;
     height:inherit;
     box-sizing: border-box;
     border: #B132E8;
     border-radius: 5rem;
     font-size: 2rem;
     color: black;
     resize: none;
 }

@media only screen and (max-width: 600px){
    .radiostyle{
        height: inherit;
        border-radius: 2rem;
        width:100%;
        position: relative;
        left: 0;
    }

    .WHOstyle{
        height: inherit;
        border-radius: 2rem;
        width:100%;
        position: relative;
        left: 0;
    }

    .weightStyle{
        width:100%;
        position: relative;
        left: 0;
        height:inherit;
        box-sizing: border-box;
        border: #B132E8;
        border-radius: 5rem;
        font-size: 2rem;
        color: black;
        resize: none;
    }
}