/* The container */
/*.container {*/
    /*display: block;*/
    /*position: relative;*/
    /*padding-left: 4rem;*/
    /*margin-bottom: 2rem;*/
    /*cursor: pointer;*/
    /*font-size: 2rem;*/
    /*-webkit-user-select: none;*/
    /*-moz-user-select: none;*/
    /*-ms-user-select: none;*/
    /*user-select: none;*/
    /*text-align: left;*/
    /*font-weight: normal;*/
/*}*/


/* Hide the browser's default radio button */
/*.container input {*/
    /*position: absolute;*/
    /*opacity: 0;*/
    /*cursor: pointer;*/
/*}*/

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 8%;
    left: 0;
    height: 3rem;
    width: 3rem;
    background-color: lightsteelblue;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
/*.container:hover input ~ .checkmark {*/
    /*background-color: dodgerblue;*/
/*}*/

/* When the radio button is checked, add a blue background */
/*.container input:checked ~ .checkmark {*/
    /*background-color: purple;*/
/*}*/

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
    top: 1rem;
    left: 1rem;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background: white;
}

.radiostyle{
    width:100%;
    height:40rem;
    box-sizing: border-box;
    border: mediumpurple;
    border-radius: 5rem;
    background-color: floralwhite;
    font-size: 2rem;
    color: black;
    resize: none;

}

.WHOstyle{
    width:100%;
    height:30rem;
    box-sizing: border-box;
    border: mediumpurple;
    border-radius: 5rem;
    background-color: floralwhite;
    font-size: 2rem;
    color: black;
    resize: none;

}

@media only screen and (max-width: 600px){
    .radiostyle{
        height: 80rem;
        border-radius: 2rem;
    }

    .WHOstyle{
        height: 80rem;
        border-radius: 2rem;
    }
}


